.alerts {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1051;
}

.btn-my, .btn-custom {
  font-size: 13px !important;
  padding: 0 5px !important;
  &:hover {
    transform: scale(1.05);
  }
}

.btn-custom {
  top: 0;
  right: 0;
}

input[type=file] {
  cursor: pointer;
}

.navbar-dark .navbar-brand {
  cursor: pointer;
}

.landing {
  background-image: url('/img/code-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  @media (max-width: 700px) {
    background-image: url('/img/code-background-mobile.jpg');
  }
  .home-container {
    min-height: calc(100vh - 56px);
    background-color:rgba(0, 0, 0, .8);
    color: white;
    }

  @media (min-width: 900px) {
    .h4 {
      font-size: 30px;
    }
      
    .h5 {
      font-size: 26px;
    }
      
    .h6 {
      font-size: 22px;
    }
  }
}

.lds-ring {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.media > a {
  font-size: 27px;
}

.link {
  color: #007bff;
  cursor: pointer;
  &:hover {
    color: #0056b3;
  }
}

.messenger-container {
  display: flex;
  flex-direction: column;
  @media (min-width: 900px) {
    flex-direction: row;
  }
  .users {
    font-size: 14px;
    background-color: rgb(245, 240, 240);
    @media (min-width: 900px) {
      order: 3;
      flex-grow: 1;
    }
    .user-icons {
      @media (min-width: 900px) {
        flex-direction: column;
        align-items: center;
      }
      .user-icon {
        margin-bottom: 10px;
        @media (min-width: 900px) {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          column-gap: 15px;
          cursor: pointer;
          &:hover {
            background-color: rgb(255, 245, 245);
          }
        }
        .img {
          position: relative;
        }
        .green {
          width: 10px;
          height: 10px;
          background: green;
          border-radius: 50%;
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
  .conversations {
    padding-top: 10px;
    @media (min-width: 900px) {
      order: 1;
      flex-grow: 1;
      background-color: rgb(245, 240, 240);
    }
    .conversation {
      @media (min-width: 900px) {
        cursor: pointer;
        &:hover {
          background-color: rgb(255, 245, 245);
        }
      }
      .img {
        position: relative;
      }
      .green {
        width: 10px;
        height: 10px;
        background: green;
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .red {
        width: 10px;
        height: 10px;
        background: red;
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
  .chat {
    position: absolute;
    background-color: white;
    width: 100%;
    height: calc(100vh - 56px);
    animation-name: show;
    animation-duration: .2s;
    font-size: 18px;
    overflow-y: scroll;
    @media (min-width: 900px) {
      position: static;
      order: 2;
      flex-basis: 500px;
      animation: none;
    }
    @media (min-width: 1300px) {
      flex-basis: 700px;
    }
    @media (min-width: 1700px) {
      flex-basis: 1000px;
    }
    @media (min-width: 2000px) {
      flex-basis: 1200px;
    }
    @keyframes show {
      from {
        margin-left: -100%;
      }
      to {
        margin-left: 0%;
      }
    }
    i {
      font-size: 25px;
      margin: 10px 0;
      position: fixed;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
    .messages {
      min-height: calc(100vh - 104px);
      padding: 50px 0 25px 0;
      .my-message {
        max-width: 75%;
        background-color: rgb(0, 132, 255);
        margin: 5px 30px 5px auto;
        padding: 5px 10px;
        border-radius: 10%;
        color: white;
        @media (min-width: 900px) {
          max-width: 60%;
          margin: 5px 50px 5px auto;
        }
      }
      .not-my-message {
        max-width: 75%;
        background-color: rgb(233, 229, 229);
        margin: 5px auto 5px 30px ;
        padding: 5px 10px;
        border-radius: 10%;
        @media (min-width: 900px) {
          max-width: 60%;
          margin: 5px auto 5px 50px ;
        }
      }
    }
    .write-message {
      position: sticky;
      bottom: 0;
      .alert {
        width: 100%;
        position: absolute;
        bottom: 37px;
      }
      .message-form {
        width: 100%;
        display: flex;
        textarea {
          width: 85%;
          height: 40px;
        }
        button {
          width: 15%;
        }
      }
    }

  }
  .empty {
    @media (min-width: 900px) {
      position: absolute;
      background-color: white;
      height: calc(100vh - 56px);
      animation-name: show;
      animation-duration: .2s;
      font-size: 18px;
      position: static;
      order: 2;
      flex-basis: 500px;
      animation: none;
    }
    @media (min-width: 1300px) {
      flex-basis: 700px;
    }
    @media (min-width: 1700px) {
      flex-basis: 1000px;
    }
    @media (min-width: 2000px) {
      flex-basis: 1200px;
    }
  }
}